.textBox {
	-fx-background-color: #000000;
	-fx-text-fill: #ffffff;
	-fx-border-color: #000000;
}

.button {
	-fx-background-color: #000000;
	-fx-border-color: #ffffff;
	-fx-text-fill: #ffffff;
}

.label {
	-fx-text-fill: #ffffff;
	-fx-font-size: 120%;
}

.mainTitle {
	-fx-text-fill: #ffffff;
	-fx-font-size: 220%;
}

.pane {
	-fx-pref-height: 900;
	-fx-pref-width: 850;
	-fx-background-color: #000000;
	-fx-background-image: url("tree.png"); 
}

.hbox {
	-fx-background-color: #000000;
	-fx-alignment: center;
}

.hboxV2 {
	-fx-background-color: #000000;
}

.vbox{
	-fx-background-color: #000000;
}